source https://www.nuget.org/api/v2/
framework >= net45

nuget FSharp.Formatting 2.11.0
nuget FSharp.Compiler.Service

github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs